<!--<li><a href='{{ blog_post.get_absolute_url }}'>{{blog_post.id}} {{blog_post.title}}</a></li>-->
<div class="col-12 col-md-8 py-2 px-aut mx-auto">
<div class="card  {% if not blog_post.publish_date %} border border-warning text-dark {% endif %}">
    <div class="card-body">
        {% if blog_post.image %}
            <img src="{{blog_post.image.url}}" class="img-fluid" height=30% width=30%/>
        {% endif %}
      <h5 class="card-title"><a href='{{ blog_post.get_absolute_url }}'>{{blog_post.id}}. {{blog_post.title}}</a></h5>
        <small class="text-muted">{{ blog_post.publish_date }}</small>
      <p class="card-text">{{blog_post.content|linebreaks|truncatewords:30}}</p>
    </div>
</div>
</div>